HPKE Mode Support

TODO: Add section to summarize that only base and psk mode are supported

Maybe add something from the following two paragraphs:

## Authentication using an Asymmetric Key

Implementers are cautioned to note that the use of authenticated KEMs has different meaning when considering integrated encryption and key encryption.
In integrated encryption the KEM operations secure the message plaintext, whereas with key encryption, the KEM operations secure the content encryption key.
For this reason, the use of authenticated KEMs with key encryption is NOT RECOMMENDED, as it gives a false sense of security.
See RFC9180 Section 5.1.3 for details authentication using asymmetric keys.

## Authenticated KEM

Authenticated KEM is not supported in JOSE HPKE for the following reasons:

1. Authenticated KEMs provide authentication at the KEM level, which has different implications depending on whether they are used for key
encryption or integrated encryption. In integrated encryption, the KEM operations directly secure the message plaintext. In key encryption,
the KEM operations secure the content encryption key. Using authenticated KEMs for key encryption does not provide meaningful security
benefits and will create a false sense of data origin authentication.

2. The PQ/T Hybrid KEM in HPKE is not an authenticated KEM and can only be used with HPKE Base mode. Similarly, PQ KEMs in HPKE are not authenticated KEMs, making them incompatible with an authenticated KEM approach. 



There might also be a third reason not to support authenticated KEM:

The authenticated DHKEM in HPKE is vulnerable to key-compromise impersonation (KCI). While KCI implies loss of confidentiality, which is bad, depending on the application, loss of integrity might be catastrophic.